@import url(./components/poster.css); /* solo tiene modificado las dimensiones de las img */

body {
  background: linear-gradient(to bottom, red, black);
  color: white;
}

main section div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

main section div div {
  text-align: center;
  margin: 10px;
  max-width: 200px;
}

h3 {
  color: white;
}

p {
  color: lightgray;
}

.description {
  color: white;
  font-style: italic;
  margin: 5px 0;
}

a {
  color: yellow;
}

